$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;
$unbounded: 'Unbounded', cursive;
$primary-color: #7C01C7;
$primary-color-25: rgba(124, 1, 199, 0.25);
$primary-color-50: rgba(124, 1, 199, 0.5);
$green: #108A5B;
$orange: #ED4A3B;
$blue: #3048EA;
$secondary: #7C01C7;