.about {
  margin-bottom: 100px;

  @media (max-width: 768px) {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 120px;

    @media (max-width: 992px) {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      flex-direction: row;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-basis: 33.33333333%;
    height: 250px;

    z-index: 22;

    @media (max-width: 992px) {
      flex-basis: 48%;
      margin: 0 5px;
      height: auto;
    }

    @media (max-width: 768px) {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    &:nth-child(even) {
      z-index: 1;

      &:after {
        content: '';
        position: absolute;
        width: 550px;
        left: -25%;
        top: -10%;
        height: 100%;
        background: url("../assets/about-image.svg") no-repeat center;
        background-size: contain;

        @media (max-width: 1200px) {
          width: 450px;
        }

        @media (max-width: 992px) {
          width: 0;
        }
      }

      .about__item-index {
        color: rgba(255, 255, 255, 0.2);
        z-index: 100;

        @media (max-width: 992px) {
          color: rgba(124, 1, 199, 0.25);
        }
      }

      .about__item-title {
        color: rgb(255, 255, 255);

        @media (max-width: 992px) {
          color: $primary-color;
        }
      }

      .about__item-text {
        color: #D8B3EE;

        @media (max-width: 992px) {
          color: $primary-color;
        }
      }
    }

    &:nth-child(3n+2) {
      margin-top: 100px;

      @media (max-width: 1200px) {
        margin-top: 130px;
      }

      @media (max-width: 992px) {
        margin-top: 0;
      }
    }

    &:nth-child(3n+4),
    &:nth-child(3n+6) {
      margin-top: -40px;

      @media (max-width: 1200px) {
        margin-top: -40px;
      }

      @media (max-width: 992px) {
        margin-top: 0;
      }
    }

    &:nth-child(2n+7) {
      @media (max-width: 1200px) {
        margin-top: -100px;
      }

      @media (max-width: 992px) {
        margin-top: 0;
      }
    }

    &-index {
      position: absolute;
      font-weight: 700;
      font-size: 120px;
      line-height: 120px;
      text-align: center;
      color: rgba(124, 1, 199, 0.25);
    }

    &-content {
      padding-right: 40px;
      z-index: 10;
      margin-top: 50px;
      margin-left: 40px;

      @media (max-width: 1200px) {
        padding-right: 20px;
      }

      @media (max-width: 992px) {
        padding-right: 0;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $primary-color;
      margin-top: 0;
      margin-bottom: 20px;
    }

    &-text {
      margin-left: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $primary-color;

      @media (max-width: 992px) {
        margin-top: 35px;
      }
    }
  }

}