.btn {
  display: inline-block;
  background-color: $primary-color;
  border: none;
  border-radius: 15px;
  padding: 20px 50px;
  color: #fff;
  font-weight: 700;

  @media (max-width: 460px) {
    font-size: 16px;
    padding: 18px 36px;
  }

  &--hero {
    background: linear-gradient(90deg, #2B19BC 0%, #9651D8 87%);
    border-radius: 15px;
    padding: 32px 58px;
    font-family: $montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;

    @media (max-width: 992px) {
      font-size: 24px;
      padding: 24px 40px;
    }

    @media (max-width: 560px) {
      font-size: 20px;
      padding: 18px 30px;
    }

    @media (max-width: 460px) {
      font-size: 16px;
      padding: 18px 26px;
    }
  }

  &--yellow {
    background: #FFCE44;
    color: $primary-color;
  }
}