.btn {
  display: inline-block;
  background-color: $primary-color;
  border: none;
  border-radius: 15px;
  padding: 20px 50px;
  color: #fff;
  font-weight: 700;

  &--hero {
    background: linear-gradient(90deg, #2B19BC 0%, #9651D8 87%);
    border-radius: 15px;
    padding: 32px 58px;
    font-family: $montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;
  }

  &--yellow {
    background: #FFCE44;
    color: $primary-color;
  }
}