.crm-info {

  margin-bottom: 120px;

  @media (max-width: 560px) {
    margin-bottom: 60px;
  }

  .tabs {
    &--green {
      .tabs__header {
        border: 2px solid $green;
      }

      .tabs__link {
        color: $green;

        &--active {
          background-color: $green;
          color: #FFFFFF;
        }

        &:not(:last-child) {
          border-right: 1px solid $green;
        }
      }
    }

    &--orange {
      .tabs__header {
        border: 2px solid $orange;
      }

      .tabs__link {
        color: $orange;

        &--active {
          background-color: $orange;
          color: #FFFFFF;
        }

        &:not(:last-child) {
          border-right: 1px solid $orange;
        }
      }
    }

    &--blue {
      .tabs__header {
        border: 2px solid $blue;
      }

      .tabs__link {
        color: $blue;

        &--active {
          background-color: $blue;
          color: #FFFFFF;
        }

        &:not(:last-child) {
          border-right: 1px solid $blue;
        }
      }
    }

    &__header {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 80px;

      @media (max-width: 992px) {
        margin-bottom: 60px;
      }

      @media (max-width: 768px) {
        margin-bottom: 40px;
      }

      border: 2px solid $green;
      border-radius: 20px;
    }

    &__link {
      display: block;
      flex-basis: 33.33333%;
      width: 100%;

      font-weight: 500;
      font-size: 48px;
      line-height: 98px;
      text-align: center;
      color: #108A5B;

      transition: color .2s linear;

      @media (max-width: 992px) {
        font-size: 36px;
        line-height: 70px;
      }

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 50px;
      }

      @media (max-width: 560px) {
        font-size: 18px;
        line-height: 60px;
      }

      &--active {
        background-color: $green;
        color: #FFFFFF;

        transition: background-color .2s linear,
        color .2s linear;
      }

      &:not(:last-child) {
        border-right: 1px solid $green;
      }
    }

    &__body {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      height: 0;
      visibility: hidden;
      opacity: 0;

      transition: opacity .2s linear;

      @media (max-width: 992px) {
        flex-direction: column;
      }

      &--active {
        height: auto;
        visibility: visible;
        opacity: 1;
        min-height: 380px;

        @media (max-width: 992px) {
          min-height: 344px;
        }
      }

      &--green {
        li {
          &::before {
            background-color: $green !important;
          }
        }

        .crm-info__left {
          background-color: $green;
        }
      }

      &--orange {
        li {
          &::before {
            background-color: $orange !important;
          }
        }

        .crm-info__left {
          background-color: $orange;
        }
      }

      &--blue {
        li {
          &::before {
            background-color: $blue !important;
          }
        }

        .crm-info__left {
          background-color: $blue;
        }
      }
    }
  }

  &__right {
    max-width: 40%;
    width: 100%;

    @media (max-width: 992px) {
      max-width: 100%;
      margin-bottom: 20px;
      display: none;
    }

    &-content {
      padding-left: 50px;

      ul {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-transform: lowercase;
        margin: 0;
        padding: 0 0 0 20px;

        @media (max-width: 992px) {
          font-size: 16px;
        }

        li {
          position: relative;
          list-style: none;

          &::before {
            position: absolute;
            content: '';
            display: inline-block;
            margin-right: 10px;
            width: 12px;
            border-radius: 50%;
            top: 8px;
            left: -20px;
            height: 10px;
            background-color: $green;
          }

          span {
            display: block;
            font-weight: 700;
            font-size: 26px;
            text-transform: uppercase;
            color: #292521;

            @media (max-width: 992px) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .ul-mb-4 {
    li:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .ul-mb-1 {
    li {
      margin-bottom: 10px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    max-width: 60%;
    width: 100%;

    @media (max-width: 992px) {
      max-width: 100%;
    }

    padding: 40px;
    background-color: $green;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 20px;

    ul {
      padding: 0;
      margin: 0 0 0 20px;
    }

    @media (max-width: 768px) {
      padding: 30px 20px;
    }
  }

  &__content {
    z-index: 100;
    max-width: 70%;
    width: 100%;
  }

  &__img {
    position: absolute;
    object-fit: cover;
    max-width: 200px;
    z-index: 1;
    right: 0;
    bottom: -5px;

    @media (max-width: 768px) {
      max-width: 150px;
    }

    @media (max-width: 560px) {
      max-width: 130px;
    }
  }

  &__logo {
    max-height: 72px;
    max-width: fit-content;
    z-index: 100;

    img {
      height: 72px;
      object-fit: contain;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #292521;
    margin-bottom: 20px;
  }
}