.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 47px;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 50px;
    flex-shrink: 0;
  }

  &__logo {
    max-width: 200px;
    width: 100%;
  }

  .menu {
    max-width: 70%;
    width: 100%;
  }

  .nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;


    @media (max-width: 1200px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      display: block;
      z-index: 10000;
      transform: translateX(100%);
      max-width: 30%;

      background-color: #ffffff;

      -webkit-box-shadow: -4px 2px 19px -5px rgb(34 60 80 / 20%);
      -moz-box-shadow: -4px 2px 19px -5px rgba(34, 60, 80, .2);
      box-shadow: -4px 2px 19px -5px rgb(34 60 80 / 20%);
      transition: transform .2s linear;

      .btn {
        display: none;
      }
    }

    @media (max-width: 992px) {
      max-width: 40%;
    }

    @media (max-width: 768px) {
      max-width: 46%;
    }

    @media (max-width: 576px) {
      max-width: 100%;
    }

    &--active {
      transform: translateX(0%);
    }

    ul {
      list-style: none;

      display: flex;
      align-items: center;
      justify-content: flex-start;


      @media (max-width: 1200px) {
        flex-direction: column;
        align-items: flex-end;

        height: 100%;
        padding: 200px 50px 40px 20px;
      }

      @media (max-width: 576px) {
        align-items: flex-end;
        padding: 200px 30px 40px 30px;
      }

      li {
        @media (max-width: 1200px) {
          margin-bottom: 15px;
        }

        a {
          font-weight: 700;
          font-size: 16px;
          color: #292521;
          text-decoration: none;
          transition: color .2s linear, text-shadow .1s ease-in-out;

          @media (max-width: 1200px) {
            font-size: 18px;
            color: #7C01C7;
            text-transform: uppercase;
          }

          @media (max-width: 576px) {
            font-size: 22px;
          }
        }
      }

      li:not(:last-child) {
        margin-right: 46px;

        @media (max-width: 1400px) {
          margin-right: 20px;
        }

        @media (max-width: 1200px) {
          margin-right: 0;
        }
      }
    }
  }

  .menu__burger {
    cursor: pointer;

    display: none;
    position: absolute;
    top: 75px;
    right: 50px;
    z-index: 10001;
    transform: translateY(-50%);
    width: 33px;
    height: 33px;

    @media (max-width: 576px) {
      right: 25px;
      top: 75px;
    }

    span:first-child {
      transition: transform .2s ease-in-out;
    }

    span:nth-child(3) {
      transition: transform .2s ease-in-out;
    }

    @media (max-width: 1300px) {
      display: block;
    }

    @media (max-width: 320px) {
      top: 67px;
    }

    span {
      position: relative;
      margin: 15px 0;
      display: block;
      width: 20px;
      height: 3px;
      background-color: $primary-color;

      transition: background-color .4s linear;
    }

    span::after,
    span::before {
      position: absolute;
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      top: -10px;
      background-color: $primary-color;
      transition: all .2s linear;
    }

    span::after {
      top: -10px;
    }

    span::before {
      top: 10px;
    }

    &--active {
      position: fixed;

      span {
        background-color: transparent;
      }

      span::after {
        top: 0;
        transform: rotate(-45deg);
      }

      span {
        transform: rotate(0);
      }

      span::before {
        top: 0;
        transform: rotate(45deg);
      }
    }
  }

}
